### macOS ###
.DS_Store
.Trashes
### Windows ###
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Environment / Secrets ###
.env
.env.*
!.env.example
